@page "/main"
@inherits AppPage
@{
    var upload = "Upload";
}

<div id="landing-page" class="page" style="@Loader.PageStyles["LandingPage"]">
    
    <div class="header">
        <div class="language">
            <div class="language-image">
                <img src="images/language.svg" />
            </div>
            <div class="language-text">
                English
            </div>
        </div>
        <div class="welcome">
            <div class="logo">
                <img src="images/logo.svg" />
            </div>
            <span class="welcome-main-text">
                Welcome to LocalShare
            </span>
            <span class="welcome-subtext">
                Share files through your network
            </span>
        </div>
    </div>
    
    <div class="footer">
        <div class="button">
            <div class="button-image">
                <img src="images/download.svg" />
            </div>
            <span class="button-main-text">
                Download
            </span>
            <span class="button-subtext">
                View current download list
            </span>
        </div>
        <div class="button" @onclick="(() => Loader.Load(upload))">
            <div class="button-image">
                <img src="images/upload.svg" />
            </div>
            <span class="button-main-text">
                Upload
            </span>
            <span class="button-subtext">
                Upload new files through network
            </span>
        </div>
        <div class="button">
            <div class="button-image">
                <img src="images/files.svg" />
            </div>
            <span class="button-main-text">
                Files
            </span>
            <span class="button-subtext">
                See all downloaded & uploaded files
            </span>
        </div>
        <div class="button">
            <div class="button-image">
                <img src="images/settings.svg" />
            </div>
            <span class="button-main-text">
                Settings
            </span>
            <span class="button-subtext">
                Change application settings
            </span>
        </div>
    </div>

</div>