@page "/upload"
@inherits AppPage

<div id="slide-page" class="page" style="@Loader.PageStyles["Upload"]">

    <div class="header">
        <div class="header-image">

        </div>
        <div class="header-text">
            Upload
        </div>
    </div>

</div>