
@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun/Sarabun-Regular.ttf);
    font-weight: 100;
}

@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun/Sarabun-Bold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun/Sarabun-ExtraBold.ttf);
    font-weight: 900;
}

:root {
    --main-color: #17AB5B;
    --subcolor: #1C9553;
    --second-color: #FFFFFF;
    --footer-background-color: #D9D9D9;
    --error-color: #EE0000;
    --accept-color: #0D662C;

    --font-color: #FFFFFF;
    --font-subcolor: #797979;
    --font-second-color: #000000;
    
    --progress-bar-fill: linear-gradient(90deg, #17AB5B 0%, #1AA057 24.8%, #7BDFA9 49.6%);
    --progress-bar-background: #0C3F23;
}

* {
    font-family: Sarabun, sans-serif;
    font-weight: 100;
    font-size: 2.77vw;
    color: var(--font-color);
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
}

/* Pages */

#landing-page.page {
    animation-duration: 1s;
}

#landing-page .header {
    width: 100vw;
    height: 45%;
    background-color: var(--main-color);
    background-image: url(../images/background.svg);
    background-size: contain;
}

    #landing-page .header .language {
        position: absolute;
        top: 3.75vw;
        left: 59.17vw;
        width: 35.55vw;
        height: 8.33vw;
        background-color: rgba(98, 98, 98, 0.45);
        border-radius: 45px;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding-bottom: 1vw;
    }

    #landing-page .header .language-text {
        margin-left: 5vw;
        margin-top: 0.5vw;
        font-size: 140%;
    }

    #landing-page .header .language-image {
        margin-left: 1vw;
        margin-top: 1.5vw;
    }

    #landing-page .header .welcome {
        margin-left: 4vw;
        width: 92vw;
        margin-right: 4vw;
        padding-top: 10vw;
    }

    #landing-page .header .welcome-main-text {
        font-weight: 900;
        font-size: 320%;
    }

    #landing-page .header .welcome-subtext {
        display: block;
        font-size: 140%;
        padding-top: 3vw;
    }

#landing-page .footer {
    position: absolute;
    width: 100vw;
    height: 55%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--footer-background-color);
    gap: 0.5vw;
}

    #landing-page .footer .button {
        background-color: var(--second-color);
        width: 41.75vw;
        cursor: pointer;
        padding: 4vw;
    }

        #landing-page .footer .button-main-text {
            color: var(--font-second-color);
            font-weight: 600;
            font-size: 200%;
        }

        #landing-page .footer .button-subtext {
            color: var(--font-subcolor);
            font-weight: 600;
            font-size: 150%;
            display: block;
        }

#slide-page {
    background-color: var(--second-color);
}

#slide-page .header {
    width: 100vw;
    height: 12vh;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
}

    #slide-page .header-text {
        color: var(--font-color);
        font-size: 240%;
        font-weight: 600;
        margin-left: 6vw;
    }

    #slide-page .header-image {
        margin-left: 5vw;
        padding-top: 1.9vw;
        cursor: pointer;
    }

#slide-page .empty-text {
    width: 100vw;
    height: 70vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

    #slide-page .empty-text > span {
        font-size: 180%;
        font-weight: 600;
        color: var(--font-second-color);
    }

#slide-page .upload-new {
    position: absolute;
    top: 86vh;
    left: 77vw;
    border-radius: 20px;
    background-color: var(--main-color);
    width: 17.78vw;
    height: 17.78vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

    #slide-page .upload-new > span {
        font-weight: 900;
        font-size: 480%;
        color: var(--font-color);
        margin-top: -2vh;
    }

.entries-container {
    width: 100vw;
    height: 88vh;
    overflow-y: scroll;
    scrollbar-width: none; 
    scroll-behavior: smooth;
}

    .entries {
        display: flex;
        flex-direction: column;
        margin-top: 3vw;
        gap: 2vw;
        margin-bottom: 30vw;
    }

.entry {
    display: flex;
    width: 95vw;
    height: 17.78vw;
    margin: 8px;
    margin-left: 2.5vw;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(0, 0, 0, 0.25), 4px -4px 4px rgba(0, 0, 0, 0.25), -4px 4px 4px rgba(0, 0, 0, 0.25);
}

    .entry-image {
        width: 17.78vw;
    }

    .entry-middle {
        width: 59.44vw;
        display: flex;
        flex-direction: column;
    }

    .entry-name {
        font-size: 180%;
        font-weight: 600;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: var(--font-second-color);
        margin-left: 2vw;
        margin-top: 2vw;
    }

    .entry-available {
        margin-left: 2vw;
        margin-top: 2vw;
        font-size: 120%;
        font-weight: 600;
        color: var(--font-second-color);
    }

    .progress-bar {
        width: 55vw;
        height: 2vw;
        margin-left: 2.5vw;
        margin-top: 4vw;
        border-radius: 20px;
        background: var(--progress-bar-background);
    }

    .progress-bar-percentage {
        width: 0%;
        height: 100%;
        background: var(--progress-bar-fill);
        transition: 1s;
    }

    .entry-end {
        width: 17.78vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .entry-cancel {
            color: var(--error-color);
            font-weight: 600;
            font-size: 160%;
            margin-top: 2.5vw;
            height: 6vw;
            cursor: pointer;
        }

        .entry-percentage {
            color: var(--font-second-color);
            font-weight: 600;
            font-size: 160%;
            height: 10vw;
        }

    .entry-buttons {
        width: 77.22vw;
        margin-left: 2vw;
        margin-top: 1vw;
        display: flex;
        gap: 2.5%;
    }

        .entry-buttons div {
            width: 45%;
            font-size: 160%;
            font-weight: 600;
            text-align: center;
            cursor: pointer;
        }

    .entry-accept {
        color: var(--accept-color);     
    }

    .entry-decline {
        color: var(--error-color);
    }

.options-container {
    width: 100vw;
    height: 88vh;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

    .options {
        display: flex;
        flex-direction: column;
        margin-top: 3vw;
        gap: 6vw;
        margin-bottom: 30vw;
    }

.option {
    width: 92vw;
    margin-left: 4vw;
    display: flex;
    align-items: center;
}

    .options span {
        color: var(--font-second-color);
        font-weight: 600;
        font-size: 140%;
        text-align: center;
    }

    .option-label {
        font-weight: 600;
        font-size: 200%;
        color: var(--font-second-color);
        width: 40vw;
    }

    .option-warning {
        color: var(--error-color);
        font-size: 120%;
        text-align: end;
        margin-top: -4vw;
        margin-bottom: -4vw;
        margin-right: 2vw;
        font-weight: 600;
    }

    .option-label-checkbox {
        width: 90vw;
    }

    .option-input input {
        font-weight: 600;
        font-size: 200%;
        color: var(--font-second-color);
        width: 50vw;
        outline: none;
        border: 2px solid var(--subcolor);
        accent-color: var(--subcolor);
    }

    .option-input-checkbox input {
        transform: scale(1.45);
        width: 5vw;
    }

.option-button {
    width: 92vw;
    margin-left: 4vw;
    font-size: 200%;
    font-weight: 600;
    outline: none;
    border: none;
    background-color: var(--subcolor);
    padding: 1.5vw;
    transition: .1s;
    cursor: pointer;
}

    .option-button:hover {
        background-color: var(--progress-bar-background);
    }